/*pošto sve stranice koriste meni - logično je da meni ide u zasebnu datoteku*/
*{
    background-color: blueviolet;
}
.meni{
    text-align: center;
    background-color: red;
}
.linkovi{
    display: inline-block;
    margin: auto;
    margin-top: 20px;

}
ul{
    list-style-type: none;
    margin-top: 0px;
    padding: 0;
    overflow: hidden;
    margin: auto;
}

li{
    float: left;
}

li a{
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}
div.logo{
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 100%;
}

#logotip{
    height: 30px !important;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: -50%;
}