/*#sadrzaj{
    margin-left: 40%;
    margin-right: 30%;
}*/
#osobe{
    text-decoration: none;

}
table {
    border-collapse: collapse;
    width:80%; 
    margin-left:10%; 
    margin-right:10%;
  }
th,td {
  width: 20%;
}
table, th, td {
    border: 1px solid black;
}