#pocetna{
    text-decoration: none;
}
.sadrzaj{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5% ;
    grid-row-gap:10px ;
    margin-top: 10px;
}

.slika{
    background-color: purple;
    width: 350px;
    margin-top: 10px;
}
@media (max-width: 700px) {
    .sadrzaj{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 5% ;
        grid-row-gap:10px ;
        width: 300px;
        margin-top: 10px;
    }
    .slika{
        background-color: purple;
        width: 350px;
        margin-top: 10px;
    }
    
}
@media (max-width: 599px) {
    .sadrzaj{
        display: grid;
        grid-template-columns: 80%;
        grid-column-gap: 5% ;
        grid-row-gap:10px ;
        transform: scale(0.8);
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .slika{
        background-color: purple;
        width: 350px;
        margin-top: 10px;
    }
}