/*ideja je da kreiram css fajlove koji su zaduženi za rad sa različitim veličinama ekrana da ih odvajam u posebne fajlove*/
@media (min-width: 600px) {
    /*za dimenzije preko 599 stranica se ispravno ponaša*/
}
@media (max-width: 599px) {
    input, select, label {
        display:block;
        text-align: center;
     }
}