
#rezervacije{
    text-decoration: none;
}
.dan{
    border: purple solid 1px;
    margin-left: 5px;
    display: grid;
    text-align: center;
    width: 40px;
}
.sadrzaj{
    margin-top: 10px;
}
#prethodni{
    float: left;
}
#sljedeci{
    position: relative;
    float: right;

}
.slobodna{
    background-color:green;
    height: 15%;
    border-top: 1px black solid;
}
.zauzeta{
    background: red;
}
table, tr, td, th{
    border: black 1px solid;
    text-align: center;
    border-spacing: 15px 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.nevidljiveCelije{
    border: none;
    background-color: transparent;
}
.odabirSale{
    margin-left: 40%;
}
.dugmad{
    width: 41%;
}

input[type=button] {
    background-color: blue;
    width: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}