#sale{
    text-decoration: none;
}
.sadrzaj{
    margin-top: 10px;
    background-color:maroon;
}
table.tabelaSala{
    border-spacing: 0px;
    border-collapse: collapse;
    counter-reset:tbody;
    margin: auto;
}
table tr{
    counter-increment: row-num;
}
table tr td:first-child::before {
    content: counter(row-num) ". ";
}
table tr td:nth-child(2)::before {
    content:"0-0" counter(row-num);
}
table.tabelaSala tr td:nth-child(3)::before {
    content:"1-0" counter(row-num);
}
table.tabelaSala tbody, td, tr{
    border-collapse: collapse;
    border-spacing: 0px;
}
.headerSprat{
    border: rgb(138, 132, 138) 1px solid;
    border-collapse: collapse;
    background-color: purple;
    border-spacing: 0px;
}
.headerRedni{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0px;
    vertical-align: bottom;
    background-color: bisque;
}

.noBorder{
    border:0 1px solid !important;
}
.kancelarija{
    background-color: gray;
}
.zauzetaSala{
    background-color: orange;
}
.slobodnaSala{
    background-color: green;
}
.border1px{
    border: black solid 1px;
    width: 50px;
    vertical-align: top;
    text-align: center;
    height: 50px;
}
.headerSprat{
    vertical-align: middle;
    text-align: center;
    height: 60px;
}
.sala{
    border: black solid 1px;
    width: 50px;
    vertical-align: top;
    text-align: center;
    height: 50px;

}