#unos{
    text-decoration: none;
}

.sadrzaj{
    margin: auto;
}
form{
    margin-left: 40%;
}
label{
    
    display: inline-block;
    width: 150px;
    text-align: right;
}
.grupa{
    margin-top: 5px;
}
.grupa5{
    margin-left:10%;
}